@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Sacramento&display=swap');

html,body{
    /* background-color: black; */
    overflow-x: hidden;
    max-width: 100%;
}
#whole{
    width: 100;
    background-color: pink;
}
header{
    background: url('img/banner.jpeg');
    background-repeat: no-repeat;
    height: 500px;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 40px;
}

#container{
    display:flex;
    padding-top: 300px;
    padding-bottom: 400px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    gap: 20px;
}

#bio{
    background-color: white;
    padding: 20px;
    width: 400px;
    margin-left: 5px;
}
#about{
    color:white;
    font-size: 50px;
    font-style: italic;
    width: 100px;
    font-weight: 900;
    margin-right: 40px;
    
}

/* #item1{
    font-style: italic;
    line-height: 20px;
}
 */


#row1{
display: flex;
flex-direction: row;
gap: 0px;
width: 100%;
}
#row2{
    display: flex;
    flex-direction: row;
    gap: 0px;
    width: 100%;
    }

#row1 img, #row2 img{
 height: 500px ;
 width: 33.33%;
}

#updates input{

    height: 65px;
    width: 250px;
    border-radius: 25px;
    border: 0px;
    padding: 5px;
    margin-right: 10px;

}

#updates button{
    height: 70px;
    width: 250px;
    border-radius: 25px;
    color: white;
    background-color: black;
    padding-bottom:5px;
    padding-top: 5px;
  }

  #items{
      margin-bottom: 30px;
      padding-left: 20%;
      padding-right: 20%;
      width: 100%;
  }
  #item1{
      color: white;
      font-size: 25px;
      font-style: italic;
      line-height: 40px;
      font-weight: 400;
      width: 70%;
  }
  #item2{
      color: white;
      width: 35%;
  }
  #items strong{
    font-size: 50px;
}
#updates{
    margin-bottom: 30px;
    text-align: center;
}
#soon{
    font-size: 30px;
    font-style: italic;
    color: white;
    font-weight: 1000;
}
#web{
   color: white;
   margin-bottom: 30px;
}
#article{
    display: flex;
    gap: 7px;
    overflow: hidden;
    background-color: white;
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
    height: auto;
}

#article img{
    height: auto;
    width: 300px;
    margin-right: 30px;
}
#article1{
    margin-top: 30px;
    overflow: hidden;
    height:auto;
}
#article1 p{
    line-height: 30px;
}
#name{
font-family: 'Sacramento', cursive;
color:rgb(228, 155, 167);
font-size: 30px;
font-weight: 500;
}

#collection{
text-align: center;
width: 100%;
}

#collection p{
    font-size: 30px;
    font-style: italic;
    color:white;
    font-weight: 900;
}

#slide{
    display: flex;
    flex-direction: row;
   margin-bottom: 20px;
   width: 60%;
   justify-content:space-around;
   margin-right: auto;
   margin-left: auto;
   
   
}

#slide img{
    height:220px;
    width: 24%;
}

#product{
display: flex;
flex-direction: row;
margin-top: 50px;
/* justify-content:space-between; */
background-color: white;
padding-top: 30px;
padding-bottom: 80px;
width: 100%;
gap: 10px;
padding-left: 10%;
padding-right: 10%;
} 

#product img{
    height:400px;
    width: 20%;
}

#product div{
    margin-top: 40px;
    width: 30%;
    margin-left: 12px;
    height: 300px;
    overflow: hidden;
    
}
#product button{
    height: 70px;
    width: 150px;
    border-radius: 25px;
    color: white;
    background-color: black;
    padding-bottom:5px;
    padding-top: 5px;
  }

  #subscribe{
      display: flex;
      flex-direction: row;
      gap: 10px;
      background-color: white;
      text-align: center;
      padding-right: 50px;
    
  }

  #subscribe img{
      width: 40%;
      height: 600px;
     
  }

  #subscribe form img{
    width: 20px;
    height: 20px;
   
}


#subscribe form{
    margin-top: 150px;
    border-top: solid 6px pink;
    /* margin-left: 45px; */
    width: 60%;
    height: 600px;
    overflow: hidden;
}
#sub{
    font-size: 30px;
    font-style: italic;
    font-weight: 900;
}
#subscribe form input{
     width: 190px;
     height: 65px;
     margin-right: 10px;
     margin-bottom: 5px;
}
#subscribe button{
    height: 70px;
    width: 180px;
    border-radius: 25px;
    color: white;
    background-color: black;
    padding-bottom:15px;
    padding-top: 5px;
    margin-bottom: 20px;
}
}
/* #subscribe label{
    margin-top: 30px;
} */
